.mainWrapper {
   line-height: 1;
   font-family: 'Concert One', cursive;
   width:70vw;
   margin: 0 auto;
}

.alignItemCenter {
   align-items: center;
}

.flexView,
.flexViewSection {
   display: flex;
}
.flexView .flex {
   display: flex;
}
.flexView .gapSmall {
   gap: 1rem;
}
.flexView.justifySpaceBetween {
   justify-content: space-between;
}
.flexView.flexCol {
   flex-direction: column;
}
.flexView.flexRow {
   flex-direction: row;
}
.flexView.fit,
.flexViewSection.fit {
   display: flex;
   flex: 1;
}
.flexViewSub.flexRow {
   display: flex;
   flex-direction: row;
}

.flexViewSection.flexCol {
   flex-direction: column;
}
.flexViewSection.flexRow {
   flex-direction: row;
}

.flexViewSection.alignSelfCenter {
   align-self: center;
}

.flexViewSection.alignSelfFlexEnd {
   align-self: flex-end;
}

.flexViewSection.justifyCenter {
   justify-content: center;
}

.flexViewSection.flexWrap {
   flex-wrap: wrap;
}

.flexViewSection.justifySpaceBetween {
   justify-content: space-between;
}

.flexViewSection.gifDisplay img,
.flexViewSection.gifDisplay p {
   width: 20vw;
   text-align: center;
}

.flexViewSection.alignItemsFlexEnd {
   align-items: flex-end;
}
.input,
.btn {
   outline: none;
   border: none;
   padding: .8rem 1.5rem;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
   font-family: inherit;
}

.btn {
   display: inline-block;
   background-color: rgb( 224,181,137);
}
.btn:hover {
   background-color: rgb(184, 136, 87);
}




.header {
   padding-top: 1rem;
   padding-bottom: 1rem;
}

@media (max-width: 992px) {
.inputForm .flexView {
   display: block;
}
.inputForm .flexView > * {
   padding-top: .5rem;
   padding-bottom: .5rem;
}

.flexViewSub.flexRow {
 display:flex;
 flex-direction: column;
}


}

@media (max-width: 600px) {

.header > .flexView {
   display: block;
}
.header .navBar,
.header .social {
   display: flex;
   justify-content: center;
   padding: 1rem;
}
.inputSection .flexView {
   display: block;
}
.inputSection .flexView > * {
   padding-top: 1rem;
   padding-bottom: 1rem;
   text-align: center;
}
}